:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    font-size:xx-large;
    padding: 1em;
    border: 3px solid rgb(255, 0, 0);
    text-align: center;
  }

  #new-game {
    font-size:xx-large;
  }